



/* Estilos para el efecto Flip Card */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 350px; /* ajustar la altura */
  perspective: 1000px; /* Efecto 3D */
  margin-bottom: 2rem; /* Espacio inferior */
  font-family: 'Fredoka', sans-serif;
}

/* Contenedor interno que se mueve con la transición */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Efecto al pasar el mouse por encima */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Posicionamiento de la cara frontal y trasera */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Para Safari */
  backface-visibility: hidden;
  border-radius: 0.25rem; /* Bordes redondeados como las cards de Bootstrap */
}

/* Estilo de la cara frontal */
.flip-card-front {
  background-color: rgb(248, 244, 245); /* Un gris claro */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo de la cara trasera */
.flip-card-back {
  background-color: #aab845; /* Azul primario de Bootstrap */
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.star-rating {
  margin-top: auto; /* Empuja las estrellas hacia abajo */
  padding-top: 15px; /* Un poco de espacio para que no se pegue al texto */
  width: 100%;
  text-align: center; /* Centra el contenido */
}

.star-rating p {
  margin-bottom: 5px; /* Pequeño espacio entre el texto y las estrellas */
}

.star-rating i {
  color: #FFD700; /* Color dorado clásico para las estrellas */
  font-size: 1.3rem; /* Ajusta el tamaño */
  margin: 0 2px; /* Un pequeño espacio horizontal entre ellas */
}

.team-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 1rem;
}