<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Personalizado</title>

  <!-- Fuente Fredoka -->
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Estilos externos -->
  <link rel="stylesheet" href="Navbar.css">
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar-center">
    <div class="container">

      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src=".\frontend\assets\imagenes\iconos\logo-default.png" alt="Logo" id="logo" class="logo">
      </a>

      <!-- Botón hamburguesa para móvil -->
      <button class="navbar-toggler-custom" type="button"data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon-custom"></span>
        <span class="navbar-toggler-icon-custom"></span>
        <span class="navbar-toggler-icon-custom"></span>
      </button>

      <!-- Nav Links -->
      <ul class="navbar-nav-custom">
        <li><a class="nav-link-custom active" href="#">Blog</a></li>
        <li><a class="nav-link-custom" href="#">Tienda</a></li>
        <li><a class="nav-link-custom" href="#">Nosotros</a></li>
        <li><a class="nav-link-custom" href="#">Contacto</a></li>
      </ul>

      <!-- Botón de usuario -->
       <div class="iconos-header">
      <button class="user-btn" id="userBtn">
        <img src="imagenes/user-dark.png" alt="Usuario" id="userIcon">
      </button>
      <!-- Botón de compras -->
      <button class="user-btn" id="comprasBtn">
        <img src="imagenes/compras-dark.png" alt="Compras" id="comprasIcon">
      </button>
    </div>
    </div>
  </nav>



  <!-- Scripts -->
  <script src="scripts.js"></script>
</body>



</html>
